<footer class="main-footer">
  <div class="main-footer-stack">
    <nav class="main-nav">
      <ul>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/authors/">Authors</a></li>
        <li><a href="/feed.xml">Feed</a></li>
      </ul>
    </nav>
    <div class="main-contents">
      <p class="main-about">Data science connected. Research group intro.</p>
    </div>
    <figure class="main-logo">
      <a href="/"><strong>DARESCIENCE</strong></a>
    </figure>
  </div>
  <div class="main-colophon">
    <p class="main-copyright">&copy; 2021, Officina Data. All rights reserved.</p>
  </div>
</footer>
