:root {
  --color-black: #053039;
  --color-white: #FDFDF7;
  --color-dark: #0B4C59;
  --color-light: #FAF8DD;
  --color-mid: #EAE6AE;
  --color-highlight: #FEF020;
  --color-spot: #7D92D7;
  --font-text: '"Noto Serif TC", "Noto Serif", Georgia, serif';
  --font-display: '"Arial Rounded MT Bold", Arial, sans-serif';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-size: 15px;
  background-color: var(--color-light);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

h1, h2 {
  font-size: 2em;
  color: var(--color-dark);
}

pre {
  width: 100%;
  overflow-x: scroll;
  /*background-color: #EAE6AE;*/
  border: 0.3em solid var(--color-mid);
  background-color: #fefefe;
}

img {
  width: 100%;
}

.article {
  width: 100%;
  display: grid;
  grid-template-columns: auto 42em auto;
}

.article-header {
  width: 100%;
  grid-column: 1 / 4;
  padding: 5em;
  background-color: var(--color-mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-header h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.3em;
  color: var(--color-dark);
  background-color: var(--color-highlight);
}

.article-body {
    grid-column: 2 / 3;
}
