<html>
<head>
  {% include htdoc-header %}
</head>
<body>
  <header class="main-header">
    <h1><a href="/">DScience</a></h1>
    <nav class="main-nav">
      <ul>
        {% for item in main-nav.items %}
          <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <article class="article">
    <div class="article-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="article-body">
      {{ content | safe }}
    </div>
  </article>
  <aside class="magazine">
    {% assign previousPost = collections.articles | getPreviousCollectionItem: page %}
    {% assign nextPost = collections.articles | getNextCollectionItem: page %}
    <div class="magazine-next">
      {% if nextPost %}
      <h2>Next Article</h2>
      <div class="magazine-thumb">
        <h3><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h3>
        <p>{{ nextPost.data.summary }}</p>
      </div>
      {% endif %}
      {% if previousPost %}
      <h2>Previous Article</h2>
      <div class="magazine-thumb">
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        <p>{{ previousPost.data.summary }}</p>
      </div>
      {% endif %}
    </div>
    <div class="magazine-related">
      <h2>Related Articles</h2>
    </div>
  </aside>
  <footer class="main-footer">
    <h3>Data science connected</h3>
    <p class="main-copyright">{{ footer.text }}</p>
  </footer>
</body>
</html>
