<html>
<head>
  {% include document-head %}
</head>
<body>
  {% include main-header %}
  <article class="article">
    <div class="article-header">
      <h1 class="article-title">{{ title }}</h1>
      {% assign authors = byline | withAuthors: collections.authors %}
      <ul class="article-byline">
      {% for name in authors %}
        <li>{{ name }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="article-body">
      {{ content | safe }}
    </div>
  </article>
  <aside class="magazine">
    {% assign previousPost = collections.articles | getPreviousCollectionItem: page %}
    {% assign nextPost = collections.articles | getNextCollectionItem: page %}
    <div class="magazine-next">
      {% if nextPost %}
      <h2>Next Article</h2>
      <div class="magazine-thumb">
        <h3><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h3>
        <p>{{ nextPost.data.summary }}</p>
      </div>
      {% endif %}
      {% if previousPost %}
      <h2>Previous Article</h2>
      <div class="magazine-thumb">
        <h3><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></h3>
        <p>{{ previousPost.data.summary }}</p>
      </div>
      {% endif %}
    </div>
    <div class="magazine-related">
      <!-- <h2>Related Articles</h2> -->
    </div>
  </aside>
  {% include main-footer %}
</body>
</html>
