<html>
<head>
  <title>DareScience.net Template Variable Here</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&family=Noto+Serif+TC:wght@400;600&display=swap" rel="stylesheet">
  <link href="/assets/forma.css" rel="stylesheet">
  <link href="/assets/syntax.css" rel="stylesheet">
</head>
<body>
  <header class="main-header">
    <h1><a href="/">DScience</a></h1>
    <nav class="main-nav">
      <ul>
        {% for item in main-nav.items %}
          <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <article class="article">
    <div class="article-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="article-body">
      {{ content | safe }}
    </div>
  </article>
  <aside class="magazine">
    <div class="magazine-next">
      <h2>Next Article</h2>
    </div>
    <div class="magazine-related">
      <h2>Related Articles</h2>
    </div>
  </aside>
  <footer class="main-footer">
    <h3>Data science connected</h3>
    <p class="main-copyright">{{ footer.text }}</p>
  </footer>
</body>
</html>
