<html>
<head>
  {% include document-head %}
</head>
<body>
  <header class="main-header">
    <h1><a href="/">DScience</a></h1>
    <nav class="main-nav">
      <ul>
        {% for item in main-nav.items %}
          <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main class="authors">
    {% for author in collections.authors %}
      <div class="author" id="{{ author.data.id }}">
        <div class="author-profile">
          <a href="{{ author.data.website }}"><h2>{{ author.data.name }}</h2> <span>{{ author.data.website }}</span></a>
          <div class="author-bio">
            {{ author.templateContent }}
          </div>
        </div>
        <figure class="author-picture">
          <strong>{{ author.data.placeholder_glyph }}</strong>
        </figure>
      </div>
    {% endfor %}
  </main>
  <footer class="main-footer">
    <h3>Data science connected</h3>
    <p class="main-copyright">{{ footer.text }}</p>
  </footer>
</body>
</html>
