:root {
  --color-black: #053039;
  --color-white: #FDFDF7;
  --color-dark: #0B4C59;
  --color-light: #FAF8DD;
  --color-mid: #EAE6AE;
  --color-mid-off: #B7B487;
  --color-highlight: #FEF020;
  --color-highlight-off: #E7DA22;
  --color-spot: #7D92D7;
  --font-text: "Noto Serif TC", "Noto Serif", Georgia, serif;
  --font-display: "Arial Rounded MT Bold", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-size: 15px;
  background-color: var(--color-light);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

h1, h2 {
  font-size: 2em;
}

pre {
  width: 100%;
  overflow-x: scroll;
  /*background-color: #EAE6AE;*/
  border: 0.3em solid var(--color-mid);
  background-color: #fefefe;
}

img {
  width: 100%;
}

figure,
ul,
li {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--color-dark);
  color: var(--color-highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.main-header a,
.main-footer a {
  font-family: var(--font-display);
  text-decoration: none;
  color: var(--color-highlight);
  font-size: 1.5em;
}

.main-header a:hover,
.main-footer a:hover {
  color: var(--color-light);
}

.main-header .main-logo {
  margin-left: 2em;
}

.main-footer .main-footer-stack {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.main-about {
  max-width: 50vw;
  color: var(--color-highlight);
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
}

.main-header .main-nav li {
  display: inline-block;
  margin-right: 2em;
}

.main-footer .main-nav ul {
  padding: 2em;
}

.main-footer .main-nav li {
  padding-bottom: 1em;
}

li.secondary {
  font-size: 0.8em;
}

@media screen and (max-width: 750px) {
  .main-header {
    flex-direction: column;
  }
}

.main-footer {
  background-color: var(--color-dark);
}

.main-colophon {
  font-size: 0.8em;
  background-color: var(--color-black);
}

.main-copyright {
  margin: 0;
  padding: 1em;
  text-align: center;
  color: var(--color-light);
}

.article {
  width: 100%;
  display: grid;
  grid-template-columns: auto 42em auto;
  padding-bottom: 4em;
}

.article-header {
  width: 100%;
  grid-column: 1 / 4;
  padding: 5em;
  background-color: var(--color-mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.article-header h1 {
  padding: 0.5em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.3em;
  color: var(--color-dark);
  background-color: var(--color-highlight);
}

.article-byline {
  color: var(--color-dark);
  list-style: none;
  font-size: 1em;
  font-weight: bold;
}

.article-byline li {
  display: inline-block;
}

.article-byline li:not(:last-of-type)::after {
  content: ", ";
}

.article-body {
    grid-column: 2 / 3;
}

.article-body h2 {
  color: var(--color-dark);
}

.article-body h1 {
  font-size: 0.8em;
  display: inline-block;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
  padding: 0.2em;
}

.article-body h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: var(--color-spot);
}

.article-body h4 {
  font-size: 1em;
  color: var(--color-dark);
}

.article-body h5 {
  padding: 0.2em;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.article-body h6 {
  padding: 0.2em;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-spot);
}

.article-body blockquote {
  font-size: 0.8em;
  margin-left: 0;
  padding-left: 0.8em;
  border-left: 0.2em solid var(--color-dark);
  color: var(--color-dark);
}

.author {
  display: flex;
  justify-content: space-between;
  height: 50vw;
}

.author-profile,
.author-picture {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-profile {
  color: var(--color-dark);
  background-color: var(--color-highlight);
}

.author-profile a,
.author-bio {
  width: 60%;
  text-align: right;
}

.author-profile a {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: var(--color-dark);
}

.author-profile h2 {
  margin-bottom: 0;
}

.author-profile a span {
  font-size: 0.8em;
  border-bottom: 1px solid var(--color-dark);
}

.author-profile a:hover span {
  border-bottom: 1px solid var(--color-spot);
}

.author-profile a:hover {
  color: var(--color-black);
}

.author-bio {
  font-weight: bold;
}

.author:nth-of-type(2n) .author-picture {
  order: 1;
}

.author:nth-of-type(2n) .author-profile {
  order: 2;
}

.author-picture {
  background-color: var(--color-spot);
  overflow: hidden;
}

.author-picture img {
  width: 100%;
}

.author-picture strong {
  display: block;
  font-size: 30vh;
  color: var(--color-highlight);
}

@media screen and (max-width: 959px) {
  .author-profile {
    border-top: 2em solid var(--color-spot);
    width: 70%;
  }

  .author-picture {
    width: 30vw;
  }

  .author-picture strong {
    font-size: 15vh;
  }
}

.articles {
  min-height: 90vh;
}

.articles-header {
  background-color: var(--color-highlight);
  background: linear-gradient(-45deg,var(--color-spot),var(--color-spot) 30%,var(--color-highlight) 30%,var(--color-highlight) 100%);
}

.articles-header h1 {
  margin: 0;
  padding: 1.5em;
  color: var(--color-dark);
}

.articles-collection article {
  min-height: 40vh;
  background-color: var(--color-mid);
  padding: 16vh 3em;
}

.articles-collection .article-summary {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.article-title a {
  color: var(--color-dark);
  text-decoration: none;
}

.article-title a:hover {
  color: var(--color-spot);
}

.articles-collection article:nth-of-type(2n) {
  background-color: var(--color-dark);
}

.articles-collection article:nth-of-type(2n) .article-title a {
  color: var(--color-highlight);
}

.articles-collection article:nth-of-type(2n) .article-title a:hover {
  color: var(--color-white);
}

.articles-collection article:nth-of-type(2n) .article-summary,
.articles-collection article:nth-of-type(2n) .article-byline {
  color: var(--color-highlight);
}

.articles-collection article:nth-of-type(2n) .article-date {
  color: var(--color-dark);
  background-color: var(--color-highlight);
}

.articles-collection article:last-of-type {
  background-color: var(--color-highlight);
}

.articles-collection article:last-of-type .article-title a {
  color: var(--color-dark);
}

.articles-collection article:last-of-type .article-title a:hover {
  color: var(--color-spot);
}

.articles-collection article:last-of-type .article-summary,
.articles-collection article:last-of-type .article-byline {
  color: var(--color-dark);
}

.articles-collection article:last-of-type .article-date {
  color: var(--color-highlight);
  background-color: var(--color-dark);
}

.articles-collection .article-title {
  margin: 0.5em 0 0 0;
}

.article-date {
  color: var(--color-dark);
}

.articles-collection .article-summary {
  max-width: 420px;
  font-weight: bold;
  color: var(--color-dark);
}

.articles-collection .article-date {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-dark);
}

.articles-home {
  font-size: 1.2em;
}

.home-content {
  background-color: var(--color-mid);
  display: flex;
  justify-content: space-between;
}

.home-text {
  font-size: 1.2em;
  padding: 3em;
}

.home-aside {
  width: 42em;
  background-color: var(--color-spot);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-aside .home-glyph {
  display: block;
  font-size: 30vh;
  color: var(--color-highlight);
}

.magazine {
  display: grid;
  grid-template-columns: auto 42em auto;
}

.magazine-footer {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 480px auto;
}

.magazine-footer h2 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 1em;
}

.magazine-next {
  grid-column: 1 / 2;
  background-color: var(--color-highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.magazine-related {
  grid-column: 2 / 4;
  background-color: var(--color-spot);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.magazine h2 {
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.magazine-next h2 {
  color: var(--color-highlight);
  background-color: var(--color-dark);
}

.magazine-related h2 {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.magazine-thumb {
  max-width: 18vw;
}

.magazine-thumb h3,
.magazine-thumb p {
  margin: 0;
}

.magazine-thumb a,
.magazine-thumb p {
  color: var(--color-dark);
  text-decoration: none;
}

.magazine-thumb a:hover {
  color: var(--color-spot);
}

.magazine-thumb p {
  font-weight: bold;
}
