<html>
<head>
  {% include document-head %}
</head>
<body>
  {% include main-header %}
  <main class="authors">
    {% for author in collections.authors %}
      <div class="author" id="{{ author.data.id }}">
        <div class="author-profile">
          <a href="{{ author.data.website }}"><h2>{{ author.data.name }}</h2> <span>{{ author.data.website }}</span></a>
          <div class="author-bio">
            {{ author.templateContent }}
          </div>
        </div>
        <figure class="author-picture">
          {% if author.data.profile_image %}
          <img src="/images/{{ author.data.profile_image }}" alt="Picture of {{ author.data.name }}">
          {% else %}
          <strong>{{ author.data.placeholder_glyph }}</strong>
          {% endif %}
        </figure>
      </div>
    {% endfor %}
  </main>
  {% include main-footer %}
</body>
</html>
